@{
    ViewBag.Title = "Home Page";
}

    <h1>UserSystem</h1>
    <p class="lead">Реализация системы регистрации/авторизации/просмотра списка пользователей</p>
    <p><a href="/Home/Users" class="btn btn-primary btn-lg">Пользователи &raquo;</a>
  </p>